@font-face {
  font-family: 'Segoe';
  src: url('./assets/fonts/segoesc.ttf') format('truetype');
}

body {
	background: url("./assets/efekt.png") no-repeat fixed, url("./assets/background_big.jpg") no-repeat;
	background-size: cover;
	background-position: 0, 0 0%;
  /* display: flex; */
  min-height: 200vh;
	margin: 0;
	color: #fff;
	position: relative;
	overflow-x: hidden;
	width: 100vw;
	min-width: 100vw;
	/* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}

h4 {
	font-size: 50px;
	margin: 0;
	font-weight: bold;
	font-family: Segoe;
}

h1, h2 {
	font-size: 3em;
	font-family: Segoe;
}

h5 {
	font-size: 1.2em;
	font-family: Segoe;
}

h1 {
	margin: 50px 0 0;
}

p {
	font-size: 40px;
	margin: 25px;
}

.backgroundContainer {
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	z-index: -1;
}

.backgroundContainer .flower {
	width: 40px;
	height: 40px;
	/* background: #fff; */
	/* border-radius: 50%; */
	/* filter: blur(6px); */
	background: url("./assets/moriconlogo_small_white.png");
	background-size: cover;
	transition: 7s;
	position: absolute;
	top: 0;
	left: 0;
}

nav {
	position: sticky;
	top: 0;
	z-index: 1;
	user-select: none;
}

nav ul {
	margin: 0;
	padding: 20px;
	display: flex;
	justify-content: space-around;
	background-color: #000;
	list-style: none;
	font-family: Segoe;
}

nav > ul li {
	color: #fff;
	font-size: 2rem;
	margin: 0;
	padding: 0;
	cursor: pointer;
	position: relative;
}

nav ul li.active > span {
	text-shadow: 0px 0px 10px #fff, 0px 0px 20px #fff;
}

nav ul > li:hover > span {
	text-shadow: 0px 0px 20px #fff, 0px 0px 40px #fff;
}

.submenu {
	display: none;
	position: absolute;
	width: 260px;
}

.submenu ul {
	display: flex;
	flex-direction: column;
	width: 260px;
}

nav ul li:hover > .submenu {
	display: block;
}

.menuButton {
	display: none;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	z-index: 1;
}

#main {
	display: flex;
	justify-content: center;
	align-items: center;
}

#main img {
	width: 50vw;
	max-width: 1200px;
}

#info {
	background: #000a;
	padding-bottom: 50px;
	margin: 100px 0;
	justify-content: center;
	align-items: center;
}

#info.container:nth-of-type(2) > * {
	margin: 0px auto;
}

#info > p {
	font-size: 1.8em;
}

.thanks {
	font-size: 4.5em;
}

#subInfo {
	display: grid;
	grid-template-rows: auto;
	row-gap: 25px;
	column-gap: 25px;
	margin: 100px 50px 0px;
	/* width: 100%; */
	/* width: 120px; */
	grid-template-columns: repeat(3, 1fr);
	grid-template-areas:
		"partnership partnership partnership"
		"mediaPartnership mediaPartnership mediaPartnership"
		"time place place"
		"sponsors sponsors sponsors"
		"exhibitors exhibitors exhibitors"
		"regulations regulations parentConsent";
}

.subInfoCard {
	/* background: #ff7e8b; */
	background: #000;
	border-radius: 10px;
	/* box-shadow: 0px 0px 15px #fff; */
	padding: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}

#subInfo .subInfoCard h4 {
	font-size: 3rem;
	text-align: center;
}

#subInfo .subInfoCard p {
	font-size: 2.15rem;
	width: auto;
}

#subInfo .subInfoCard a {
	text-decoration: none;
	color: #ff7e8b;
}

#subInfo .ki {
	width: 275px;
	height: 275px;
}

#partnership {
	grid-area: partnership;
}

#partnership img {
	width: 250px;
}

#mediaPartnership {
	grid-area: mediaPartnership;
}

#mediaPartnership img {
	width: 250px;
}

#mediaPartnership .mediaPartnershipList {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.ki {
	position: absolute;
}

#time {
	grid-area: time;
}

#place {
	grid-area: place;
}

#place .ki {
	bottom: 0;
	right: 0;
}

#place.subInfoCard p {
	font-size: 1.7rem;
	align-self: flex-start;
	text-indent: 20px;
	margin-bottom: 0;
}

#place.subInfoCard p:nth-child(3) {
	margin-top: 0;
}

#place img {
	width: 100%;
}

#place .mapContainer {
	width: 80%;
	margin: auto;
	position: relative;
}

#exhibitors {
	grid-area: exhibitors;
	max-width: 100%;
}

#exhibitors .ki {
	bottom: 0%;
	left: -50px;
}

.exhibitorsList {
	--m-left: 100px;
	display: flex;
	flex-direction: row;
	width: calc(100% - var(--m-left) - 60px);
	overflow-x: auto;
	margin-left: var(--m-left);
}

.exhibitorsList img {
	height: 150px;
	margin: 10px;
}

#sponsors {
	grid-area: sponsors;
}

#sponsors p {
	margin: 0;
}

.sponsorsList {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: calc(100% - var(--m-left) - 60px);
	margin-left: var(--m-left);
	overflow-x: auto;
}

#sponsors .ki {
	bottom: 0%;
	left: -15px;
}

.sponsorsList {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

#sponsors .sponsorsList img {
	height: 150px;
}

#regulations {
	grid-area: regulations;
}

#regulations li {
	font-size: 2em;
}

#regulations .ki {
	top: 50%;
	transform: translateY(-50%);
	left: 0%;
	max-width: 25%;
	height: auto;
}

#parentConsent {
	grid-area: parentConsent;
}

.container {
	background: #000a;
}

.container * {
	max-width: 1920px;
	box-sizing: border-box;
}

.logoContainer {
	background: #000;
	height: 75px;
	display: flex;
	justify-content: center;
	position: relative;
	max-width: none;
}

.logo {
	width: 125px;
	height: 125px;
	position: absolute;
	bottom: 0;
}

.logoContainer::before {
	position: absolute;
	width: 125px;
	height: 125px;
	content: '';
	background-color: #fff;
  border-radius: 50%;
  filter: blur(20px);
	bottom: 0;
}

.infoContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.infoContainer h2 {
	font-size: 2.5em;
}

.infoContainer p {
	width: 80%;
	font-size: 50px;
}

#program {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 100px 0;
	padding: 100px;
}

.programTableContainer {
	width: 100%;
	overflow: auto;
}

.programTableContainer tbody {
	margin-bottom: 20px;
	box-shadow: 0px 0px 20px #ff7e8b;
}

tbody::after
{
  content: '';
  display: block;
  height: 20px;
}

.programTableContainer table, .programTableContainer td, .programTableContainer th {
	border: 2px solid #ff7e8b;
	padding: 5px;
  text-align: center;
	background: #000;
}

.programTableContainer td span {
	display: block;
}

.programTableContainer td:empty {
	background: #444;
}

td.pink {
	background: #ff7e8b;
}

td.lightPink {
	background: #c29b9b;
}

td.bold {
	font-weight: 900;
}

.programTableContainer table {
  border-collapse: collapse;
	border: 1px solid black;
	border-bottom: none;
}

#applications {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 100px 0;
	padding: 100px;
}

.applicationsContainer {
	display: grid;
	grid-template-rows: 1fr;
	grid-auto-rows: 1fr;
	grid-template-columns: repeat(3, 1fr);
	row-gap: 40px;
	column-gap: 25px;
	margin: 100px 30px 0px;
	text-align: center;
	text-decoration: none;
}


.applicationsContainer .subInfoCard {
	height: 100%;
	justify-content: center;
}

.applicationsContainer a:hover .subInfoCard {
	/* box-shadow: 0px 0px 20px #FFB92F; */
	box-shadow: 0px 0px 20px #ff7e8b;
}

.applicationsContainer a {
	text-decoration: none;
	color: #fff;
}

.applicationsContainer h4 {
	font-size: 1.7rem;
}

.applicationsContainer p {
	font-size: 1.2rem;
}

#contact {
	padding: 10px;
	margin: 100px auto;
	position: relative;
	min-height: 700px;
	max-width: 1500px;
}

#contact h4 {
	font-size: 2.5em;
	width: 80%;
}

#mascot {
	transform: scaleX(-1);
	position: absolute;
	bottom: -5px;
	width: 650px;
	right: -36px;
}

.contactContainer a {
	text-decoration: none;
	color: #fff;
	font-size: 2em;
	display: block;
}

form {
	display: flex;
	flex-direction: column;
	width: 75%;
}

input, textarea {
	border: solid 1px #fff8;
	background: #0008;
	font-size: 25px;
	margin: 10px;
	flex: 1;
}

.qrContainer {
	width: 50%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding: 50px 0;
}

.qrContainer img {
	width: 300px;
	height: 300px;
}

@media only screen and (max-width: 1500px) {
	#mascot {
		display: none;
	}

	#contact h4 {
		width: 100%;
	}

	.qrContainer {
		width: 100%;
	}
}

@media only screen and (max-width: 900px) {
	.qrContainer img {
		width: 30vw;
		height: 30vw;
	}

	.contactContainer {
		font-size: 0.8em;
	}
}

@media only screen and (max-width: 700px) {
	#regulations .ki {
		top: 0%;
		transform: rotateY(180deg);
		left: auto;
		right: 0;
		max-width: 25%;
		height: auto;
	}
}

@media only screen and (max-width: 1000px) {
	nav {
		position: fixed;
		top: 0;
		left: -100%;
		transition: 1s;
		width: 100%;
		height: 95vh;
		overflow-y: auto;
	}

	nav > ul {
		flex-direction: column;
		padding-top: 50px;
	}

	nav > ul li {
		font-size: 1.5rem;
	}

	nav.active {
		left: 0;
	}

	.submenu {
		display: block;
		position: relative;
		width: 245px;
		/* overflow-y: scroll;
		height: 150px; */
		/* top: 50px; */
	}

	.menuButton {
		display: block;
		position: fixed;
		z-index: 2;
	}

	#main img {
		width: 100vw;
	}

	.infoContainer h1, .infoContainer h2 {
		font-size: 1.25em;
		text-align: center;
	}

	.infoContainer p {
		font-size: 1.25em;
	}

	#info > h1 {
		font-size: 1.25em;
	}

	#info > p {
		font-size: 1.25em;
	}

	#subInfo .subInfoCard h4 {
		font-size: 2em;
	}

	#subInfo .subInfoCard p {
		font-size: 1.4em;
	}

	#subInfo {
		grid-template-columns: 1fr;
		grid-template-areas:
			"partnership"
			"mediaPartnership"
			"time"
			"place"
			"sponsors"
			"exhibitors"
			"regulations"
			"parentConsent";
	}

	#partnership .partnershipList a {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	#time > br:nth-child(3), #time > br:nth-child(4) {
		display: none;
	}

	#place img {
		width: 100%;
	}

	#place .ki {
		width: 125px;
		height: 125px;
	}

	#mediaPartnership .mediaPartnershipList {
		flex-direction: column;
	}

	/* #regulations .ki {
		top: 50%;
		transform: translateY(-50%);
		left: 0%;
		max-width: 25%;
		height: auto;
	} */

	#exhibitors .ki {
		width: 175px;
		height: 175px;
		left: -40px;
	}

	#sponsors .ki {
		width: 175px;
		height: 175px;
		left: -40px;
		display: none;
	}

	.exhibitorsList {
		margin-left: 30px;
		width: calc(95vw - var(--m-left) - 60px);
	}

	.sponsorsList {
		flex-direction: column;
		width: calc(95vw - var(--m-left) - 60px);
	}


	.programTableContainer {
		width: 100vw;
		overflow: auto;
	}

	#applications {
		padding: 100px 25px;
	}

	.applicationsContainer {
		grid-template-columns: 1fr;
		margin: 100px 10px 0px;
	}

	.qrContainer {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.qrContainer img {
		width: 80vw;
		height: 80vw;
	}

	.contactContainer {
		font-size: 0.8em;
	}

	#contact {
		margin: 100px 0px 0px;
		height: auto;
	}

	.contactContainer h4 {
		font-size: 2em;
	}

	.contactContainer p {
		font-size: 2em;
	}

	.contactContainer a {
		font-size: 1.25em;
	}
}