footer {
	background: url("../assets/bg_footer_2.png");
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 150px 0 50px;
}

footer .logo {
	height: 200px;
}

footer .container {
	margin-left: 100px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	width: 450px;
}

footer .container :where(p, a) {
	color: #fff;
	font-size: 30px;
	margin-right: 40px;
}

footer .container a {
	margin: 2.5px 15px;
	text-decoration: none;
}

#odliczanie h2 {
	font-size: 64px;
	margin: 10px 0;
	font-family: "SetoFont";
	color: var(--momoroz);
	text-shadow: 2px 2px #fff, -2px -2px #fff, -2px 2px #fff, 2px -2px #fff, 0px 2px #fff, 2px 0px #fff, -2px 0px #fff, 0px -2px #fff;
}

@media screen and (width < 1000px) {
	footer {
		flex-direction: column;
		background-size: cover;
	}
	footer .container {
		margin-left: 0px;
		max-width: 100%;
	}
	footer .logo {
		height: 200px;
		max-width: 100%;
	}

	#odliczanie h2 {
		font-size: 40px;
	}
}

@media screen and (width < 500px) {
	footer .container {
		/* flex-direction: column; */
		justify-content: center;
	}
	footer .container a[href^="mailto:"] {
		width: 100%;
		text-align: center;
		margin: 0 0 20px;
	}
}
