#bilety {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	height: 900px;
	width: 100%;
	overflow-x: hidden;
}

#bilety::after {
	display: block;
	content: "";
	width: 100%;
	height: calc(100% - 50px);
	position: absolute;
	top: 50px;
	opacity: 0.4;
	z-index: -2;
	background: url("../assets/bg_tickets.png") repeat-x;
}

/* #bilety .bushLeft, #bilety .bushRight { */
#bilety :where(.bushLeft, .bushRight) {
	position: absolute;
	top: 0;
	z-index: -1;
	height: 900px;
}

#bilety .bushLeft {
	left: 0;
}

#bilety .bushRight {
	right: 0;
}

#bilety p {
	text-align: center;
	width: 500px;
	font-size: 35px;
	color: var(--momoroz);
	text-shadow: 1px 1px #fff, -1px -1px #fff, -1px 1px #fff, 1px -1px #fff, 0px 1px #fff, 1px 0px #fff, -1px 0px #fff, 0px -1px #fff;
}

#bilety button {
	margin-top: 20px;
}


@media screen and (width < 1000px) {
	#bilety {
		height: 600px;
	}

	#bilety p {
		width: 60%;
		font-size: 22px;
	}

	#bilety p .lineBreak {
		display: none;
	}

	#bilety :where(.bushLeft, .bushRight) {
		top: 50px;
		height: 500px;
	}

	#bilety .bushLeft {
		left: -120px;
	}

	#bilety .bushRight {
		right: -120px;
	}

	#bilety::after {
		background-size: cover;
	}

	#bilety button {
		margin-top: 45px;
	}
}